<owl-carousel-o class="banner" [options]="customOptions">
	<ng-template carouselSlide>
		<div fxLayoutAlign="center center">
			<div class="banner-item" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center" fxFlex.xs="100%"
				fxFlex.sm="100%" fxFlex.md="84%" fxFlex.lg="84%" fxFlex.xl="65%">
				<div class="banner-item-content" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
					<h2 class="heading-2">
						Your trustworthy companion in digital revolution
					</h2>

					<div class="button-action">
						<button mat-raised-button class="mat-btn-style" type="button" routerLink="">
							Explore
						</button>
					</div>
				</div>
				<div class="banner-item-image" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
					<img src="./assets/images/home-carousel-image1.jpg" alt="" />
				</div>
			</div>
		</div>
	</ng-template>

	<ng-template carouselSlide>
		<div fxLayoutAlign="center center">
			<div class="banner-item" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center" fxFlex.xs="100%"
				fxFlex.sm="100%" fxFlex.md="84%" fxFlex.lg="84%" fxFlex.xl="65%">
				<div class="banner-item-content" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
					<h2 class="heading-2">
						Your trustworthy companion in digital revolution
					</h2>

					<div class="button-action">
						<button mat-raised-button class="mat-btn-style" type="button" routerLink="">
							Explore
						</button>
					</div>
				</div>
				<div class="banner-item-image" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
					<img src="./assets/images/home-carousel-image1.jpg" alt="" />
				</div>
			</div>
		</div>
	</ng-template>

	<ng-template carouselSlide>
		<div fxLayoutAlign="center center">
			<div class="banner-item" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center" fxFlex.xs="100%"
				fxFlex.sm="100%" fxFlex.md="84%" fxFlex.lg="84%" fxFlex.xl="65%">
				<div class="banner-item-content" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
					<h2 class="heading-2">
						Your trustworthy companion in digital revolution
					</h2>

					<div class="button-action">
						<button mat-raised-button class="mat-btn-style" type="button" routerLink="">
							Explore
						</button>
					</div>
				</div>
				<div class="banner-item-image" fxFlex.md="50%" fxFlex.lg="50%" fxFlex.xl="50%">
					<img src="./assets/images/home-carousel-image1.jpg" alt="" />
				</div>
			</div>
		</div>
	</ng-template>



</owl-carousel-o>