@import "~src/sass/abstracts/export-absctract";

.banner {
	// min-height: 60vh;

	&-item {
		padding-left: 1rem;
		padding-right: 1rem;

		@include maxRes(land) {
			// padding-left: 1rem;
			// padding-right: 1rem;
		}

		&-content {
			@include maxRes(land) {
				order: 2;
			}

			.heading-2 {
				font-size: 3.125rem;
				font-weight: bold;
				font-family: $font-display;
				color: $color-black;

				@include maxRes(land) {
					font-size: 1.5625rem;
					line-height: 1.875rem;
					padding-top: 30px;
				}
			}

			.button-action {
				padding-top: 30px;
			}
		}
	}
}
