@import "~src/sass/abstracts/export-absctract";

button.mat-btn-style.mat-raised-button.mat-button-base {
	background: $color-primary;
	color: $color-white;
	font-size: 15px;
	box-shadow: none;
	min-width: 164px;
	height: 3.125rem;
	border-radius: 0px;
	font-family: $font-display !important;
	text-transform: uppercase !important;
}

section {
	&.section {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.img-fluid {
	max-width: 100%;
}

.banner {
	.owl-carousel {
		height: 100%;
		.owl-stage-outer {
			height: 100%;
			display: flex;
			align-items: center;
		}
	}
}
