$color-primary: #ff9686;
$color-secondary: #6c119c;
$color-secondary-light: #e1cfeb;
$color-secondary-light-1: #f6f1f9;
$color-gray: #8d939b;
$color-black: #000;
$color-white: #fff;

$font-display: "Montserrat", sans-serif;
