<section class="blog" fxLayout="row wrap" fxLayoutAlign="center center">
  <div
    fxFlex.xs="98%"
    fxFlex.sm="98%"
    fxFlex.md="90%"
    fxFlex.lg="90%"
    fxFlex.xl="90%"
  >
    <div fxLayout="row wrap">
      <div
        class="blog-item"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33.33333%"
        fxFlex.lg="33.33333%"
        fxFlex.xl="33.33333%"
      >
        <mat-card class="blog-card">
          <img
            mat-card-image
            src="./assets/images/home-blog-image1.jpg"
            alt="ults blog image"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>read story</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div
        class="blog-item"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33.33333%"
        fxFlex.lg="33.33333%"
        fxFlex.xl="33.33333%"
      >
        <mat-card class="blog-card">
          <img
            mat-card-image
            src="./assets/images/home-blog-image2.jpg"
            alt="ults blog image"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>read story</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div
        class="blog-item"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33.33333%"
        fxFlex.lg="33.33333%"
        fxFlex.xl="33.33333%"
      >
        <mat-card class="blog-card">
          <img
            mat-card-image
            src="./assets/images/home-blog-image3.jpg"
            alt="ults blog image"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>read story</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>
