<footer class="footer" fxLayoutAlign="center center">
  <div
    class="footer-inner"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="90%"
    fxFlex.lg="90%"
    fxFlex.xl="90%"
  >
    <div class="footer-logo">
      <img src="./assets/images/home-ulccs-logo.jpg" />
    </div>
    <div fxFlexAlign="end" class="footer-text">
      <p>Copyright © UL Technology Solutions. All Rights Reserved</p>
    </div>
  </div>
</footer>
