@import "~src/sass/abstracts/export-absctract";

.footer {
  min-height: 70px;
  background-color: $color-white;
  padding: 0.6rem 1rem;
  position: relative;
  z-index: 10;

  &-text {
    p {
      font-size: 15px;
      color: $color-gray;
      font-family: $font-display;
    }
  }
}
