@import "~src/sass/abstracts/export-absctract";

.service {
  min-height: 100vh;

  h2 {
    font-size: 3.125rem;
    font-weight: bold;
    font-family: $font-display;
    color: $color-black;
    margin-bottom: 30px;

    @include maxRes(tab) {
      font-size: 1.5625rem;
      line-height: 1.75rem;
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: $font-display;
    color: $color-black;
    line-height: 32px;

    @include maxRes(tab) {
      font-size: 0.9375rem;
      line-height: 1.5625rem;
    }
  }
}

.service-item {
  &-base {
    padding: 0 10px;

    @include maxRes(tab) {
      padding: 0px;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    overflow: hidden;
    background: $color-white;
    min-height: 50px;
  }

  &-icon {
    margin-right: 1em;
  }

  &-body {
    border-bottom: 1px solid $color-secondary-light;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;

    p {
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 5px;
    }

    &-:last-child {
      margin-bottom: 0;
    }
  }
  .material-icons.icon-style {
    color: $color-primary;
  }
}

.about {
  min-height: 100vh;

  h2 {
    font-size: 3.125rem;
    font-weight: bold;
    font-family: $font-display;
    color: $color-black;
    margin-bottom: 30px;
    line-height: 55px;

    @include maxRes(tab) {
      font-size: 1.5625rem;
      line-height: 1.875rem;
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: $font-display;
    color: $color-black;
    line-height: 32px;

    @include maxRes(tab) {
      font-size: 0.9375rem;
      line-height: 1.5625rem;
    }
  }
}

.clients {
  min-height: 100vh;

  h2 {
    font-size: 3.125rem;
    font-weight: bold;
    font-family: $font-display;
    color: $color-black;
    margin-bottom: 30px;
    line-height: 55px;

    @include maxRes(tab) {
      font-size: 1.5625rem;
      line-height: 1.875rem;
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: $font-display;
    color: $color-black;
    line-height: 32px;

    @include maxRes(tab) {
      font-size: 0.9375rem;
      line-height: 1.5625rem;
    }
  }

  .button-action {
    margin-top: 40px;
  }
}

.project {
  min-height: 100vh;

  h2 {
    font-size: 3.125rem;
    font-weight: bold;
    font-family: $font-display;
    color: $color-black;
    margin-bottom: 30px;
    line-height: 55px;

    @include maxRes(tab) {
      font-size: 1.5625rem;
      line-height: 1.875rem;
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: $font-display;
    color: $color-black;
    line-height: 32px;

    @include maxRes(tab) {
      font-size: 0.9375rem;
      line-height: 1.5625rem;
    }
  }
}

.industries {
  min-height: 100vh;

  h2 {
    font-size: 3.125rem;
    font-weight: bold;
    font-family: $font-display;
    color: $color-black;
    margin-bottom: 30px;
    line-height: 55px;
    text-align: center;

    @include maxRes(tab) {
      font-size: 1.5625rem;
      line-height: 1.875rem;
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: $font-display;
    color: $color-black;
    line-height: 32px;
    text-align: center;

    @include maxRes(tab) {
      font-size: 0.9375rem;
      line-height: 1.5625rem;
    }
  }

  &-content {
    box-shadow: 0px 30px 50px #0000000f;
    border: 1px solid #e3e1e1;
    border-radius: 10px;
    min-height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 80px;

    @include maxRes(tab) {
      padding: 25px 20px;
    }
  }
}

.people {
  min-height: 100vh;

  h2 {
    font-size: 3.125rem;
    font-weight: bold;
    font-family: $font-display;
    color: $color-black;
    margin-bottom: 30px;
    line-height: 55px;
    text-align: left;

    @include maxRes(tab) {
      font-size: 1.5625rem;
      line-height: 1.875rem;
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: $font-display;
    color: $color-black;
    line-height: 32px;
    text-align: left;

    @include maxRes(tab) {
      font-size: 0.9375rem;
      line-height: 1.5625rem;
    }
  }

  &-content {
    box-shadow: 0px 30px 50px #0000000f;
    border: 1px solid #e3e1e1;
    border-radius: 10px;
    min-height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.awards {
  min-height: 100vh;

  &-base {
    padding: 0 10px;
  }

  &-list {
    display: flex;
    align-items: center;
    overflow: hidden;
    background: $color-white;
    min-height: 50px;
  }

  &-icon {
    margin-right: 1em;
  }

  &-body {
    border-bottom: 1px solid $color-secondary-light;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;

    p {
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 5px;
    }

    &-:last-child {
      margin-bottom: 0;
    }
  }
}

.join-us {
  min-height: 100vh;

  h2 {
    font-size: 3.125rem;
    font-weight: bold;
    font-family: $font-display;
    color: $color-black;
    margin-bottom: 30px;
    line-height: 55px;

    @include maxRes(tab) {
      font-size: 1.5625rem;
      line-height: 1.875rem;
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: $font-display;
    color: $color-black;
    line-height: 32px;

    @include maxRes(tab) {
      font-size: 0.9375rem;
      line-height: 1.5625rem;
    }
  }
}

.mrgT-42 {
  margin-top: 42px;
}

.button-action {
  margin-top: 40px;
}
