<app-banner></app-banner>

<section
  class="service section"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
>
  <div
    fxFlex.xs="98%"
    fxFlex.sm="98%"
    fxFlex.md="84%"
    fxFlex.lg="84%"
    fxFlex.xl="65%"
  >
    <h2>
      Transforming and scaling businesses successfully through its services
    </h2>
    <p>
      Contrary to popular belief, Lorem Ipsum is not simply random text.
      Contrary to popular belief, Lorem Ipsum is not simply random text.
      Contrary to popular belief, Lorem Ipsum is not simply random text.
    </p>
    <div class="mrgT-42" fxLayout="row wrap">
      <div
        class="service-item"
        fxFlex.xs="98%"
        fxFlex.sm="98%"
        fxFlex.md="33.33333%"
        fxFlex.lg="33.33333%"
        fxFlex.xl="33.33333%"
      >
        <div class="service-item-base">
          <ul>
            <li class="service-item-list">
              <div class="service-item-icon">
                <span class="material-icons icon-style">
                  arrow_forward
                </span>
              </div>
              <div class="service-item-body">
                <p>
                  Geographical Information System (GIS)
                </p>
              </div>
            </li>
            <li class="service-item-list">
              <div class="service-item-icon">
                <span class="material-icons icon-style">
                  arrow_forward
                </span>
              </div>
              <div class="service-item-body">
                <p>
                  Blockchain
                </p>
              </div>
            </li>
            <li class="service-item-list">
              <div class="service-item-icon">
                <span class="material-icons icon-style">
                  arrow_forward
                </span>
              </div>
              <div class="service-item-body">
                <p>
                  Internet of Things (IoT)
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="service-item"
        fxFlex.xs="98%"
        fxFlex.sm="98%"
        fxFlex.md="33.33333%"
        fxFlex.lg="33.33333%"
        fxFlex.xl="33.33333%"
      >
        <div class="service-item-base">
          <ul>
            <li class="service-item-list">
              <div class="service-item-icon">
                <span class="material-icons icon-style">
                  arrow_forward
                </span>
              </div>
              <div class="service-item-body">
                <p>
                  Application Development
                </p>
              </div>
            </li>
            <li class="service-item-list">
              <div class="service-item-icon">
                <span class="material-icons icon-style">
                  arrow_forward
                </span>
              </div>
              <div class="service-item-body">
                <p>
                  AI & Analytics
                </p>
              </div>
            </li>
            <li class="service-item-list">
              <div class="service-item-icon">
                <span class="material-icons icon-style">
                  arrow_forward
                </span>
              </div>
              <div class="service-item-body">
                <p>
                  Infrastructure Management Services
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="service-item"
        fxFlex.xs="98%"
        fxFlex.sm="98%"
        fxFlex.md="33.33333%"
        fxFlex.lg="33.33333%"
        fxFlex.xl="33.33333%"
      >
        <div class="service-item-base">
          <ul>
            <li class="service-item-list">
              <div class="service-item-icon">
                <span class="material-icons icon-style">
                  arrow_forward
                </span>
              </div>
              <div class="service-item-body">
                <p>
                  Cyber Security
                </p>
              </div>
            </li>
            <li class="service-item-list">
              <div class="service-item-icon">
                <span class="material-icons icon-style">
                  arrow_forward
                </span>
              </div>
              <div class="service-item-body">
                <p>
                  Enterprise Resource Planning (ERP)
                </p>
              </div>
            </li>
            <li class="service-item-list">
              <div class="service-item-icon">
                <span class="material-icons icon-style">
                  arrow_forward
                </span>
              </div>
              <div class="service-item-body">
                <p>
                  User Experience (UX)
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="about section"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
>
  <div
    fxFlex.xs="98%"
    fxFlex.sm="98%"
    fxFlex.md="42%"
    fxFlex.lg="42%"
    fxFlex.xl="65%"
  >
    <h2>World connected experiences</h2>
    <p>
      Contrary to popular belief, Lorem Ipsum is not simply random text.
      Contrary to popular belief, Lorem simply random text. Lorem Ipsum is not
      simply random text lorem Ipsum is not simply random text
    </p>

    <div class="button-action">
      <button
        mat-raised-button
        class="mat-btn-style"
        type="button"
        routerLink=""
      >
        Know more
      </button>
    </div>
  </div>

  <div
    fxFlex.xs="98%"
    fxFlex.sm="98%"
    fxFlex.md="42%"
    fxFlex.lg="42%"
    fxFlex.xl="65%"
  >
    <img class="img-fluid" src="./assets/images/home-about-image.jpg" />
  </div>
</section>

<section
  class="clients section"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
>
  <div
    fxFlex.xs="98%"
    fxFlex.sm="98%"
    fxFlex.md="84%"
    fxFlex.lg="84%"
    fxFlex.xl="65%"
  >
    <h2>Join our clients. They have already trusted us.</h2>
  </div>

  <div
    fxFlex.xs="98%"
    fxFlex.sm="98%"
    fxFlex.md="30%"
    fxFlex.lg="30%"
    fxFlex.xl="30%"
  >
    <p>
      Contrary to popular belief, Lorem Ipsum is not simply random text contrary
      to popular belief contrary to popular belief.
    </p>
  </div>

  <div
    fxFlex.xs="98%"
    fxFlex.sm="98%"
    fxFlex.md="60%"
    fxFlex.lg="60%"
    fxFlex.xl="65%"
  >
    <!-- <h4>
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries. Lorem
      Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries
    </h4> -->

    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      interval="5000"
      color="accent"
      maxWidth="auto"
      proportion="25"
      slides="5"
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr"
    >
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slides; let i = index"
        [image]="slide.image"
        overlayColor="#00000040"
        [hideOverlay]="false"
      ></mat-carousel-slide>
    </mat-carousel>
  </div>
</section>
<section
  class="project section"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
>
  <div
    fxFlex.xs="98%"
    fxFlex.sm="98%"
    fxFlex.md="42%"
    fxFlex.lg="42%"
    fxFlex.xl="45%"
  >
    <img class="img-fluid" src="./assets/images/home-projects.jpg" />
  </div>

  <div
    fxFlex.xs="98%"
    fxFlex.sm="98%"
    fxFlex.md="42%"
    fxFlex.lg="42%"
    fxFlex.xl="45%"
  >
    <h2>
      Our works that continues to delight our customers.
    </h2>
    <p>
      Contrary to popular belief, Lorem Ipsum is not simply random text.
      Contrary to popular belief, Lorem Ipsum.
    </p>
    <div class="button-action">
      <button
        mat-raised-button
        class="mat-btn-style"
        type="button"
        routerLink=""
      >
        View projects
      </button>
    </div>
  </div>
</section>

<section
  class="industries section"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
>
  <div
    fxFlex.xs="98%"
    fxFlex.sm="98%"
    fxFlex.md="84%"
    fxFlex.lg="84%"
    fxFlex.xl="65%"
  >
    <div class="industries-content">
      <h2>Reimagining the entrepreneurial ecosystem</h2>
      <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make.
      </p>
      <div class="button-action">
        <button
          mat-raised-button
          class="mat-btn-style"
          type="button"
          routerLink=""
        >
          View industries
        </button>
      </div>
    </div>
  </div>
</section>

<section
  class="people section"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
>
  <div
    fxFlex.xs="98%"
    fxFlex.sm="98%"
    fxFlex.md="84%"
    fxFlex.lg="84%"
    fxFlex.xl="65%"
  >
    <div class="people-content" fxLayout="row wrap">
      <div
        fxFlex.xs="98%"
        fxFlex.sm="42%"
        fxFlex.md="42%"
        fxFlex.lg="42%"
        fxFlex.xl="45%"
      >
        <h2>We explore more love to be ULTS</h2>
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the
          1500s, when an unknown printer took a galley of type and scrambled it
          to make.
        </p>
        <div class="button-action">
          <button
            mat-raised-button
            class="mat-btn-style"
            type="button"
            routerLink=""
          >
            View industries
          </button>
        </div>
      </div>

      <div
        fxFlex.xs="98%"
        fxFlex.sm="45%"
        fxFlex.md="42%"
        fxFlex.lg="42%"
        fxFlex.xl="45%"
      >
        <img class="img-fluid" src="./assets/images/home-people-image.jpg" />
      </div>
    </div>
  </div>
</section>

<section
  class="awards"
  class="about section"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
>
  <div
    fxFlex.xs="98%"
    fxFlex.sm="98%"
    fxFlex.md="42%"
    fxFlex.lg="42%"
    fxFlex.xl="65%"
  >
    <h2>Some of our recent recognitions</h2>
    <p>
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took
    </p>

    <div class="awards-base">
      <ul>
        <li class="awards-list">
          <div class="awards-icon">
            <span class="material-icons">
              arrow_right_alt
            </span>
          </div>
          <div class="awards-body">
            <p>
              Lorem ipsum Award (2020)
            </p>
          </div>
        </li>
        <li class="awards-list">
          <div class="awards-icon">
            <span class="material-icons">
              arrow_right_alt
            </span>
          </div>
          <div class="awards-body">
            <p>
              Dummy text ever since Award (2019)
            </p>
          </div>
        </li>
        <li class="awards-list">
          <div class="awards-icon">
            <span class="material-icons">
              arrow_right_alt
            </span>
          </div>
          <div class="awards-body">
            <p>
              Lorem ipsum Award (2018)
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div
    fxFlex.xs="98%"
    fxFlex.sm="98%"
    fxFlex.md="42%"
    fxFlex.lg="42%"
    fxFlex.xl="65%"
  >
    <img class="img-fluid" src="./assets/images/home-awards-image.jpg" />
  </div>
</section>

<section><app-blog></app-blog></section>

<section
  class="join-us section"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
>
  <div
    fxFlex.xs="98%"
    fxFlex.sm="84%"
    fxFlex.md="84%"
    fxFlex.lg="84%"
    fxFlex.xl="65%"
  >
    <div>
      <h2>Care to join us?</h2>
      <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley
      </p>
    </div>
    <div class="button-action">
      <button
        mat-raised-button
        class="mat-btn-style"
        type="button"
        routerLink=""
      >
        View openings
      </button>
    </div>
  </div>
</section>
