@import "~src/sass/abstracts/export-absctract";

.header {
	background-color: $color-white;
	padding: 0.6rem 1rem;
	position: relative;
	z-index: 10;
	min-height: 80px;
}
span.mat-button-wrapper {
	font-size: 15px;
	font-family: $font-display;
	color: $color-black;
}
.text-align-R {
	text-align: right;
}
.xs-hide {
	@include maxRes(tab) {
		display: none;
	}
}
