<header class="header" fxLayoutAlign="center center">
  <div
    class="header-inner"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="84%"
    fxFlex.lg="84%"
    fxFlex.xl="65%"
  >
    <div class="header-logo">
      Logo
    </div>
    <div fxFlexAlign="end" class="header-menu text-align-R">
      <button mat-button class="header-menu xs-hide">Services</button>
      <button mat-button class="header-menu xs-hide">About Us</button>
      <button mat-button class="header-menu xs-hide">Industries</button>

      <button mat-icon-button class="header-menu">
        <mat-icon aria-label="label">sort</mat-icon>
      </button>
    </div>
  </div>
</header>
