@import "~@angular/material/theming";

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-ExtraLightItalic.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-ExtraLightItalic.woff") format("woff");
	src: url("./assets/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-Thin.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-Thin.woff") format("woff");
	src: url("./assets/fonts/Montserrat-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-Black.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-Black.woff") format("woff");
	src: url("./assets/fonts/Montserrat-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-Regular.woff") format("woff");
	src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-MediumItalic.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-MediumItalic.woff") format("woff");
	src: url("./assets/fonts/Montserrat-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-SemiBold.woff") format("woff");
	src: url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
	src: url("./assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-ExtraBold.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-ExtraBold.woff") format("woff");
	src: url("./assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-ThinItalic.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-ThinItalic.woff") format("woff");
	src: url("./assets/fonts/Montserrat-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-LightItalic.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-LightItalic.woff") format("woff");
	src: url("./assets/fonts/Montserrat-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-Italic.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-Italic.woff") format("woff");
	src: url("./assets/fonts/Montserrat-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-SemiBoldItalic.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-SemiBoldItalic.woff") format("woff");
	src: url("./assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-Light.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-Light.woff") format("woff");
	src: url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-ExtraLight.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-ExtraLight.woff") format("woff");
	src: url("./assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-Medium.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-Medium.woff") format("woff");
	src: url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-BoldItalic.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-BoldItalic.woff") format("woff");
	src: url("./assets/fonts/Montserrat-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-BlackItalic.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-BlackItalic.woff") format("woff");
	src: url("./assets/fonts/Montserrat-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat-Bold.woff2") format("woff2");
	src: url("./assets/fonts/Montserrat-Bold.woff") format("woff");
	src: url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

@import "~src/sass/abstracts/export-absctract";
@import "./sass/main.scss";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ults-site-primary: mat-palette($mat-indigo);
$ults-site-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ults-site-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ults-site-theme: mat-light-theme($ults-site-primary, $ults-site-accent, $ults-site-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ults-site-theme);
/* You can add global styles to this file, and also import other style files */
html,
body {
	height: 100%;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
body {
	font-family: $font-display;
	box-sizing: border-box;
}
